.details {
    display: flex;
    justify-content: space-between;
}

.detailsRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quantity {
    margin: 0 10px;
    font-size: 20px;
    line-height: 30px;
}

.totalAmount {
    width: 240px;
    float: right;
    margin-top: 20px;
}